<div class="top-bar">
  <div class="top-bar-title">
    <strong><a routerLink="">Overwatch Roster</a></strong>
  </div>
  <div id="responsive-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li><a routerLink="heroes">Heroes</a></li>
        <li><a routerLink="about">About</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <button class="button tiny warning"><a routerLink="admin">admin</a></button>
        </li>
    </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
