<div class="column row">
  <div class="callout secondary">
    <h3>Add New Hero</h3>
    <label>
      Image URL
      <input type="text" #image>
    </label>
    <label>
      Name
      <input type="text" #name>
    </label>
    <label>
      Role
      <select>
        <option value="offense">Offense</option>
        <option value="defense">Defense</option>
        <option value="tank">Tank</option>
        <option value="support">Support</option>
      </select>
    </label>
    <label>
      Difficulty
      <input type="number" #difficulty>
    </label>
    <label>
      Health
      <input type="number" #health>
    </label>
    <label>
      Armor
      <input type="number" #armor>
    </label>
    <label>
      Shield
      <input type="number" #shield>
    </label>
    <label>
      total
      <input type="number" #total>
    </label>
    <label>
      Base of Operations
      <input type="text" #place>
    </label>
    <label>
      Additional Info
      <textarea #info></textarea>
    </label>
    <button class="button primary" (click)="submitForm(image.value, name.value, role.value, difficulty.value, health.value, armor.value, shield.value, total.value, place.value, info.value)">Add</button>
  </div>
</div>
