
<div class="row">
  <div class="small-7 columns">
    <h1 class="infoText">Characters</h1>
  </div>
  <div class="small-5 columns">
    <h5>filter by:</h5>
    <select (change)="onChange($event.target.value)">
      <option value="all">All Heroe Roles</option>
      <option value="offense">Offense</option>
      <option value="defense">Defense</option>
      <option value="tank">Tank</option>
      <option value="support">Support</option>
    </select>
  </div>
</div>
<div *ngFor="let character of characters | async | role:filterByRole" class="small-12 columns">
  <div class="small-12 small-centered columns">
    <h3 class="text-center infoText" (click)="goToDetail(character)">{{character.name}}</h3>
    <div class="small-8 small-centered columns">
      <img (click)="goToDetail(character)" src="{{character.image}}" alt="{{character.name}}" class="float-center listImage">
    </div>
    <div *ngIf="currentRoute === '/admin'">
      <app-edit [selectedCharacter]="character"></app-edit>
    </div>
  </div>
</div>
