body {
  background-image: url(http://www.wallpaperbetter.com/wallpaper/395/781/225/low-poly-abstract-background-1080P-wallpaper.jpg) !important;
  background-position: center center !important;
	background-repeat:  no-repeat !important;
	background-attachment: fixed !important;
	background-size:  cover !important;
}
