body {
  background-image: url(http://www.wallpaperbetter.com/wallpaper/395/781/225/low-poly-abstract-background-1080P-wallpaper.jpg);
  background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
}
